<article class="uch-results-container w-full h-8rem md:h-10rem relative fadein animation-duration-500 bg-no-repeat bg-cover md:bg-cover bg-center border-round-bottom-xl shadow-3"
         [style.background]="getBackgroundString(background)">
  <section class="absolute top-0 bottom-0 right-0 left-0 h-full uch-background-gradient-1 border-round-bottom-xl">
  </section>

  <section class="absolute top-0 right-0 left-0 px-3 md:px-5 mt-6 md:mt-7">
    <h3 class="uch-txt-title title uch-txt--white font-normal text-3xl md:text-4xl flex align-items-center gap-1"
        style="letter-spacing: 7px;">
      Cochabamba
    </h3>
  </section>
</article>
