<article class="category-explore-wrapper"
         (panleft)="scrollLeft($event)"
         (panright)="scrollRight($event)">
  <section #categoriesContainer
           class="category-scroll fadein animation-duration-300">
    <section *ngFor="let category of categoryList"
             class="category-card"
             routerLink="/search/category/{{category.id}}">
      <div class="category-image"
           [style.background-image]="'url(' + category.photoUrl + ')'">
      </div>
      
      <div class="category-overlay"></div>
      
      <div class="category-content">
        <ion-icon name="{{ category?.icon }}"
                  class="category-icon">
        </ion-icon>
        
        <p class="category-name">
          {{ category.name }}
        </p>
      </div>
    </section>
  </section>
</article>

<article *ngIf="categoryList === null"
         class="flex">
  <section *ngFor="let category of [1,1,1,1]"
           class="w-10rem h-6rem mr-3 md:mr-4 mb-4 border-round-xl overflow-hidden">
    <ion-skeleton-text [animated]="true" class="w-full"></ion-skeleton-text>
  </section>
</article>
