<article class="w-full p-5 fadein animation-duration-1000">
  <section class="w-full flex flex-column align-items-center justify-content-start gap-3">
    <h4 class="text-xl uch-txt--black mb-1">
      Información
    </h4>

    <p class="md:w-16rem uch-txt--black-lighten text-sm">
      {{ data.text }}
    </p>

    <section class="w-full flex align-items-center gap-3"
             *ngFor="let item of data.infoList">
      <img class="h-2rem w-auto"
           [src]="item.icon.options.iconUrl"
           alt="Icon">
      
      <small class="text-lg uch-txt--black-lighten">
        {{ item.name }}
      </small>
    </section>
  </section>
</article>