<ng-container>
  <div class="transport-routes">
    <div *ngIf="loading" class="spinner-row">
      <div class="spinner"></div>
      <div class="spinner-text">Cargando rutas...</div>
    </div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <select
  *ngIf="!loading && !error && mode === 'dropdown'"
  [value]="selectedId || ''"
  #selectRef
  (change)="onSelect(selectRef.value || null)"
>
  <option value="">{{ placeholder }}</option>
  <option *ngFor="let r of routes" [value]="r.id">{{ r.name }}</option>
</select>

    <ul *ngIf="!loading && !error && mode === 'list'" class="routes-list">
      <li *ngFor="let r of routes" (click)="onSelect(r.id)" [class.selected]="r.id === selectedId">
        {{ r.name }}
      </li>
    </ul>
  </div>
</ng-container>
